@font-face {
  font-family: "iconfont"; /* Project id 2724363 */
  src: url('iconfont.woff2?t=1635249917952') format('woff2'),
       url('iconfont.woff?t=1635249917952') format('woff'),
       url('iconfont.ttf?t=1635249917952') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before {
  content: "\e603";
}

.icon--cheliang:before {
  content: "\e60a";
}

.icon-renyuan:before {
  content: "\e61a";
}

.icon-grid-list:before {
  content: "\e635";
}

.icon-shujuluru:before {
  content: "\e64c";
}

.icon-diliwangge:before {
  content: "\e6f6";
}

.icon-liuliangcaijishebei:before {
  content: "\e67a";
}

.icon-kaifazhezhongxin:before {
  content: "\e70f";
}

.icon-rizhi:before {
  content: "\e69a";
}

.icon-shujukulianjie:before {
  content: "\e698";
}

.icon-jiankong-jiankongbangding:before {
  content: "\e664";
}

.icon-jiaohuan:before {
  content: "\e6ba";
}

.icon-gerenzhongxin:before {
  content: "\e61d";
}

.icon--zidianbiao:before {
  content: "\e6bf";
}

.icon-shezhixitongshezhigongnengshezhishuxing:before {
  content: "\e795";
}

.icon-wenzi:before {
  content: "\e69b";
}

.icon-anniuquanxianguanli:before {
  content: "\e606";
}

.icon-zuzhijiegou:before {
  content: "\e6b6";
}

.icon-yanfaguanli-rizhiguanli:before {
  content: "\e63e";
}

