// base color
$baseBlue:#1890ff;
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$baseColor:rgb(50,88,166);
// sidebar
$menuText:#fff;
$menuActiveText:#f3ed91;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951
$txtColor:#fff;
//$menuBg:#304156;
$menuBg:rgb(51,88,166);
$menuHover:#263445;
$menuActive:#304156;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
